.carousel-container {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    overflow: hidden;
  }
  
  .carousel-scroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }

  .carousel-container h2 {
    font-family: 'Playfield';
  }
  
  .carousel-scroll::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  .treatment-slide {
    flex: 0 0 auto;
    width: 80%;
    max-width: 250px; /* Adjust based on your design */
    margin: 10px;
    background-color: #f2f7fc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition */
  }
  
  .treatment-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .treatment-slide h3 {
    font-size: 1.5em;
    color: #1E3A5F;
    margin-bottom: 10px;
  }
  
  .treatment-slide p {
    font-size: 1em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .learn-more-button{
    display: inline-block;
    padding: 12px 20px;
    color: #273B5A;
    background: linear-gradient(135deg, #D0E1F9, #A9A9A9);
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
  }
  
  .learn-more-button:hover  {
    background: linear-gradient(135deg, #5CB8E6, #237AB7); /* Dark Blue to Teal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
  }
  
  .learn-more-button:active {
    background: linear-gradient(45deg, #006666, #1E3A5F);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }
  