.carousel-container {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    
    text-align: center;
    overflow: hidden;
    position: relative; /* For positioning arrows */
}

.carousel-scroll {
    display: flex;
    transition: transform 0.8s ease-in-out; /* Smoother transition */
}

.carousel-container h2 {
    font-family: 'Montserrat';
}

.treatment-slide {
    flex: 0 0 33.33%; /* Show 3 slides at a time */
    max-width: 310px; /* Adjust based on your design */
    margin: 15px;
    background-color: #f2f7fc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition */
}

.treatment-slide:hover {
    transform: scale(1.1);
    z-index: 1; /* Ensure it appears above other slides */
}

.treatment-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.treatment-slide h3 {
    font-size: 1.5em;
    color: #1E3A5F;
    margin-bottom: 10px;
}

.treatment-slide p {
    font-size: 1em;
    color: #333;
    margin-bottom: 10px;
}

.learn-more-button {
  display: inline-block;
  padding: 12px 20px;
  color: #ffffff;
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.learn-more-button:hover {
  background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.learn-more-button:active {
  background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1);
}


/* Navigation Buttons */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.carousel-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.carousel-button-left {
    left: 0px;
}

.carousel-button-right {
    right: 0px;
}
