.reviews-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    position: relative;
  }
  
  .reviews-container h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #273B5A; /* Dark Green */
    text-transform: uppercase;
  }
  
  .review {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .review-content {
    padding: 20px;
    background: #f2efea; /* Light Cream */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    text-align: left;
  }
  
  .review-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .review-content p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .rating {
    color: #ffc107; /* Star color */
    margin-bottom: 10px;
  }
  
  button.prev, button.next {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  button.prev {
    left: 0;
  }
  
  button.next {
    right: 0;
  }
  
  button.leave-review {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #84CEEB; /* Light Blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.leave-review:hover {
    background-color: #557373; /* Dark Green */
  }
  