body {
    margin: 0;
    font-family: 'Montserrat';
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    background-image: url('/Users/ambersautner/Programming/IV_DRIP/restartdrip/public/images/homepage/fit.png'); /* Replace with your background image path */
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 50px;
}
.title {
    font-size: 4em;
    margin-bottom: 50px;

}

.circle-container {
    display: flex;
    gap: 40px;
    font-family: 'Barlow';
    position: relative; /* Make this container relative positioning context */
}

.circle {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;

}

.circle img {
    width: 50px;
    height: 50px;
}

.circle p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #272401;
}

.circle:hover p {
    visibility: hidden;
}

#hover-image {
    position: absolute;
    width: 300px;
    height: 2000px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: none;
    z-index: 1000;
}

.circle:hover {
    transform: scale(1.1);
}