body {
    margin: 0;
    font-family: 'Montserrat';
  }
  
  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    background-image: url('/Users/ambersautner/Programming/IV_DRIP/restartdrip/public/images/homepage/fit.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 50px;
  }
  
  .title {
    font-size: 4em;
    margin-bottom: 50px;
  }
  
  .circle-container {
    display: flex;
    gap: 40px;
    font-family: 'Barlow';
  }
  
  .circle {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .circle p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #272401;
  }
  
  .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: none;
    z-index: 1;
    pointer-events: none; /* Ensure hover image does not interfere with mouse events */
  }
  
  .circle:hover {
    transform: scale(1.1);
  }
  
  .circle:hover p {
    visibility: hidden;
  }
  
  .circle:hover .hover-image {
    display: block;
  }
  