.about-us-container {
    font-family: 'Playfair', sans-serif;
    color: #0d0d0d;
    padding: 30px;
}


.hero-content h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.hero-content p {
    font-size: 20px;
}

.our-mission, .our-founder, .client-reviews {
    margin: 40px 0;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #557373; /* Dark Green */
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-bottom: 10px; /* Adds some space between the text and the underline */
  }
  
  h2::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px; /* Adjust the height of the underline */
    background-color: #557373; /* Dark Green */
    transform: scaleX(1.7); /* Adjust the scale to make the underline extend beyond the text */
  }

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}



.our-founder .founder {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    gap: 20px;
    margin-bottom: 20px;
   justify-content: center;
}

.our-founder .founder-image {
    border-radius: 40%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 3px solid #557373; /* Dark Green */
}

.our-founder .founder-info {
    max-width: 600px;
}

.our-founder .founder-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.client-reviews blockquote {
    font-size: 18px;
    line-height: 1.6;
    font-style: italic;
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 4px solid #557373; /* Dark Green */
    color: #272401; /* Dark Brown */
}

