.carousel-container {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    position: relative; /* For positioning arrows */
    max-width: 950px; /* Adjust based on desired container size */
    height: max-content;
    box-sizing: border-box;
}

.carousel-scroll {
    display: flex;
    transition: transform 0.8s ease-in-out; /* Smoother transition */
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.carousel-container h2 {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    color: #288bdc;
}

.treatment-slide {
    width: 300px; /* Fixed width */
    height: 600px; /* Fixed height */
    margin: 15px;
    background-color: #f2f7fc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition */
    display: flex;
    flex-direction: column;
}

.treatment-slide:hover {
    transform: scale(1.1);
    z-index: 1; /* Ensure it appears above other slides */
}

.treatment-slide img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    margin-bottom: 0px;
}

.treatment-slide h3 {
    font-size: 1.1em;
    color: #1E3A5F;
    margin-top: 10px;
    margin-bottom: 0px;
}

.treatment-slide p {
    font-size: 18px;
    color: #273B5A; /* Navy Blue */
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    margin: 5px;
}

.learn-more-button {
    display: inline-block;
    padding: 12px 20px;
    color: #ffffff;
    background: #6aade5;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: auto; /* Push button to the bottom */
}

.learn-more-button:hover {
    background: linear-gradient(135deg, #00AFEF 0%, #0097B2 100%); /* Bright blue to green/blue */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

/* Navigation Buttons */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-button:hover {
    background-color: rgb(216, 216, 216);
}

.carousel-button-left {
    left: 10px; /* Adjust as needed */
}

.carousel-button-right {
    right: 10px; /* Adjust as needed */
}
