.intro-offer{
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    padding-left: 60px;
    padding-right: 60px;
}

.intro-offer-header {
    font-size: 40px;
    color: rgb(144, 193, 233);
    text-transform: none;
    font-family: 'Allura';
    font-weight: 100;
    margin: 10px;
    align-items: flex-start;

}

.intro-offer h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #45494c;
    font-weight: 600;
    padding-left: 80px;
    text-transform: capitalize;
    padding-right: 80px;
    margin-top: 30px;
}

.intro-offer-options {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 0px;
    padding-right: 60px;
    padding-left: 60px;
   align-content: center;
   animation: slideInLeft 1.5s ease-in-out;
}

.offer-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 40px; /* Adjusted the gap here */
}

.view-services {
    flex: 1;
}

.homepage {
    margin-top: 0px;
}
