.iv-therapy {
    margin-bottom: 50px;
    margin-top: 50px;
}

.iv-therapy-container {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    border-radius: 10px;
    max-width: 1100px;
    margin: auto;
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    color: #272401;
}

.iv-therapy-header {
    margin-bottom: 20px;
    font-family: 'Monstserrant';
    color: #6aade5;
    background-color: #ffffff4c;
    font-weight: bolder;
    border-bottom: 1px solid #6aade5;
    border-top: 1px solid #6aade5;
}

.iv-therapy-image-text {
    max-width: 50%;
    margin-right: 20px;
}

.iv-therapy-image-text h3 {
    color: #6aade5;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
}

.iv-therapy-image-text p {
    color: #272401;
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 1.1em;
    font-weight: 400;
}

.iv-therapy-image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.iv-therapy-section {
    max-width: 45%;
    flex: 1;
}

.service-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensure the list takes the full height of the container */
}

.service-button {
    background-color: #ffffff; /* Match the background color */
    font-family: 'Montserrat';
    color: #273B5A; /* Adjust the text color */
    border: 1px solid #5CB8E6; /* Add a border to match */
    padding: 15px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    position: relative;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.service-button:hover {
    background-color: #5CB8E6; /* Match hover background color */
    transform: translateY(-2px);
    color: #ffffff; /* Change text color on hover */
}

.icon {
    font-size: 1.5em;
    transition: transform 0.3s;
    color: #5CB8E6; /* Icon color to match border and text */
}

.icon.open {
    transform: rotate(180deg);
}

.service-content {
    background-color: #f6f6f5; /* Match background color */
    color: #272401;
    padding: 0 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    animation: fadeIn 0.5s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    line-height: 1.6;
    text-align: left;
    overflow: hidden; /* Ensure the content doesn't overflow */
    max-height: 0;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.service-content.open {
    padding: 10px;
    max-height: 500px; /* Adjust this value based on your content's height */
}

.service-content ul {
    list-style-position: inside; /* Ensures bullets align with text */
    padding: 0; /* Removes default padding */
    margin-left: 20px; /* Adjust this value as needed for alignment */
}

.service-content li {
    margin-bottom: 10px; /* Adds space between list items */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
