.modal {
    position: fixed;
    top: 20%;
    right: 0;
    width: 300px;
    height: auto;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    transform: translateX(100%);

  }
  
  .modal.display-block {
    transform: translateX(0);
  }
  
  .modal.display-none {
    transform: translateX(100%);
  }
  
  .modal-main {
    padding: 10px;
 
    position: relative;
    height: 100%;
    overflow-y: auto;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: black;
    text-decoration: none;
  }
  
  .popup-logo {
    width: 140px;
    display: block;
    margin: 0 auto 10px;
    padding: 0px;
  }
  
  .popup-btn {
    background-color: #6aade5;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    cursor: pointer;
  }
  
  .popup-btn:hover {
    background-color: #2a7cbf;
  }
  
  .popup-header {
    text-align: center;
    margin: 0px;

  }

  .discount-text h1, p {
    padding: 0px;
  }
  