

.IV-services {
    padding: 30px;
    background-color: #ffffff; /* Light Cream */
    border-radius: 10px;
    text-align: center;
    width: 100%; /* Ensure the section spans the full width */
    box-sizing: border-box; /* Include padding in the width calculation */
    margin: 0 auto; /* Center the section */
  }
  
  .IV-services h1 {
    font-family: 'Barlow';
    font-size: 50px;
    margin-bottom: 0.2em;
    letter-spacing: 1ch;
    color: #244a7c;
  }
  
  .IV-services h2 {
    font-size: 25px;
    color: #585d61;
    text-transform: lowercase;
    margin-bottom: 1em;
  }
  
  .treatment-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%; /* Ensure the container spans the full width */
  }
  
  .treatment-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: 350px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .treatment-card:hover {
    transform: scale(1.05);
  }
  
  .treatment-card img {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  .treatment-card h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #0d0d0d; /* Very Dark Gray */
  }
  
  .treatment-card p {
    font-size: 17px;
    color: #1E3A5F;
  }
  

  .learn-more-button {
    display: inline-block;
    padding: 12px 20px;
    color: #ffffff;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.learn-more-button:hover {
    background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.learn-more-button:active {
    background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1);
}
