@font-face {
    font-family: 'Allura';
    src: url('../fonts/Allura-Regular.ttf') format('truetype'); /* Adjust the path and format as needed */
    font-weight: normal;
    font-style: normal;
}

/* Define CSS Variables for colors */
:root {
    --primary-color: rgb(144, 193, 233);
    --secondary-color: #45494c;
    --background-color: #ffffff;
    --text-color: #45494c;
}


  
  .benefits-section img {
    height: 100px;
    width: auto;

  }

.services-text {
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: center; /* Center items horizontally */
    text-align: left; /* Ensure text is left-aligned */
    animation: slideInLeft 1s ease-in-out;
}

.services-text img {
    max-width: 200px;
    height: auto;
    margin-right: 20px; /* Add some space between the image and the text */
}

.IV-services {
    padding: 30px;
    background-color: var(--background-color); /* Light Cream */
    border-radius: 10px;
    text-align: center;
    width: 100%; /* Ensure the section spans the full width */
    box-sizing: border-box; /* Include padding in the width calculation */
    margin: 0 auto; /* Center the section */
    animation: fadeIn 1s ease-in-out;
}

.IV-services h4 {
    font-size: 70px;
    color: var(--primary-color);
    text-transform: none;
    font-family: 'Allura';
    font-weight: 100;
    margin: 10px;
}

.IV-services h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: var(--secondary-color);
    font-weight: 600;
    padding: 0 80px;
    text-transform: capitalize;
    margin-top: 30px;
}

.IV-services h1 {
    font-family: 'Montserrat';
    font-size: 50px;
    text-transform: uppercase;
    color: var(--secondary-color);
    font-weight: 400;
    margin: 0;
}

.IV-services p, .options h4, .benefits-section p, .FAQ p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: var(--text-color);
    font-weight: 200;
    padding: 0 80px;
}

.options h3 {
    font-size: 30px;
    color: var(--primary-color);
    font-family: 'Montserrat';
    font-weight: 100;
    margin-top: 30px;
}

.benefits-section {
    padding: 30px;
    background-color: var(--background-color); /* Light Cream */
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    width: 100%; /* Ensure the section spans the full width */
    box-sizing: border-box; /* Include padding in the width calculation */
    margin: 0 auto; /* Center the section */
}

.benefits-section h1, .FAQ h1, .header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin: 0;
}

.benefits-section h4, .header h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: var(--secondary-color);
    font-weight: bold;
    margin-top: 20px;
}

.benefits-section ul {
    list-style-type: disc;
    margin: 0 80px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

.FAQ {
    padding: 0 40px;
}

.FAQ-section, .faq-button {
    max-width: 70%;
    padding: 0 80px;
}

.faq-list {
    display: flex;
    flex-direction: column;
}

.faq-button {
    background-color: var(--background-color); /* Match the background color */
    font-family: 'Montserrat', sans-serif;
    color: #273B5A; /* Adjust the text color */
    border: 1px solid var(--primary-color); /* Add a border to match */
    padding: 0 40px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 800px;
    text-align: left;
    position: relative;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.faq-button:hover {
    background-color: var(--primary-color); /* Match hover background color */
    transform: translateY(-2px);
    color: var(--background-color); /* Change text color on hover */
}



.header {
    border: 2px solid black;
    margin: 80px;
    margin-bottom: 40px;
}

.pricing-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 100;
    color: var(--text-color);
    margin: 5px;
    margin-bottom: 30px;
}

.pricing-info h4 {
    font-style: italic;
    margin-top: 30px;
    font-size: 20px;
}

.images-container {
    flex-direction: row;
    row-gap: 5px;
    display: flex;
    padding: 0 20px;
}

.images {
    flex-direction: row;
    row-gap: 5px;
    display: flex;
}

.text-content h4 {
    font-size: 70px;
    color: var(--primary-color);
    text-transform: none;
    font-family: 'Allura';
    font-weight: 100;
    margin: 10px;
    align-items: flex-start;
}
