
@font-face {
  font-family: 'Allura';
  src: url('../fonts/Allura-Regular.ttf') format('truetype'); /* Adjust the path and format as needed */
  font-weight: normal;
  font-style: normal;
}

.IV-services {
    padding: 30px;
    background-color: #ffffff; /* Light Cream */
    border-radius: 10px;
    text-align: center;
    width: 100%; /* Ensure the section spans the full width */
    box-sizing: border-box; /* Include padding in the width calculation */
    margin: 0 auto; /* Center the section */
  }
  
  .IV-services h1 {
    font-family: 'Montserrant';
    font-size: 50px;
    text-transform: uppercase;
    color: #45494c;
    font-weight: 400;
    margin: 0;
  }
  
  .IV-services h3 {
    font-size: 50px;
    color: rgb(144, 193, 233);
    text-transform: none;
    font-family: 'Allura';
    font-weight: 100;
    margin: 10px;
  }

  .services h1 {
    font-size: 100px;
    color: rgb(144, 193, 233);
    text-transform: none;
    font-family: 'Allura';
    font-weight: 100;
    margin: 10px;
  }

  .IV-services p {
    font-family: 'Montserrant';
    font-size: 20px;

    color: #45494c;
    font-weight: 200;

    padding-left: 80px;
    padding-right: 80px;
  }
  
  .treatment-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 80px;
    padding-right: 80px;

  }
  
  .treatment-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .treatment-card:hover {
    transform: scale(1.05);
  }
  
  .treatment-card img {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  .treatment-card h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #0d0d0d; /* Very Dark Gray */
  }
  
  .treatment-card p {
    font-size: 17px;
    color: #1E3A5F;
    font-weight: bold;
  }
  

  .learn-more-button {
  background-color: #6aade5; /* Blue */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.learn-more-button:hover {
    background-color: #5CB8E6;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.learn-more-button:active {
    background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1);
}
