@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow/Barlow-Regular.ttf') format('truetype'); /* Adjust the path and format as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype'); /* Adjust the path and format as needed */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  background-color: #FFFFFF; /* Light Blue */
  color: #273B5A; /* Navy Blue */
}

.header, .footer {
  background-color: #FFFFFF; /* Light Blue */
  color: #273B5A; /* Navy Blue */
  width: 100%;
  box-sizing: border-box;
  padding: 0px 0; /* Add padding for better spacing */
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 140px; /* Adjust padding as needed */
}

.logo img {
  height: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Montserrat';
}

.nav-links li {
  position: relative;
}

.nav-links li a {
  color: #5b5b5b; /* Very Dark Gray */
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #557373; /* Gray Blue */
}

.nav-links .dropdown {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  top: 100%;
  left: 0;
}

.nav-links li:hover .dropdown {
  display: block;
}

.dropdown li {
  margin: 0;
  padding: 10px 20px;
}

.dropdown li a {
  color: #0d0d0d; /* Very Dark Gray */
  text-decoration: none;
  transition: color 0.3s;
}

.dropdown li a:hover {
  color: #557373; /* Gray Blue */
}

.footer-social {
  display: flex;
  gap: 15px;
}

.social-icon {
  background-color: #1E3A5F; /* Dark Blue */
  color: #FFFFFF; /* White */
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.social-icon:hover {
  background-color: #008080; /* Teal */
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  margin-top: 0px;
}

.footer-bottom p {
  margin: 0;
  font-size: 15px;
}
