@font-face {
  font-family: 'Ostrich';
  src: url('./fonts/ostrich-sans-master/OstrichSans-Heavy.otf') format('truetype'); /* Adjust the path and format as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair';
  src: url('./fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf') format('truetype'); /* Adjust the path and format as needed */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Playfair', sans-serif;
  background-color: #FAF9F6; /* Light Blue */
  color: #273B5A; /* Navy Blue */
}

.header {
  background-color: #D0E1F9; /* Light Blue */
  color: #273B5A; /* Navy Blue */
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
}

.logo img {
  height: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  font-size: 25px;
  position: relative;
}

.nav-links li {
  position: relative;
}

.nav-links li a {
  color: #0d0d0d; /* Very Dark Gray */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #557373; /* Gray Blue */
}

.nav-links .dropdown {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  top: 100%;
  left: 0;
}

.nav-links li:hover .dropdown {
  display: block;
}

.dropdown li {
  margin: 0;
  padding: 10px 20px;
}

.dropdown li a {
  color: #0d0d0d; /* Very Dark Gray */
  text-decoration: none;
  transition: color 0.3s;
}

.dropdown li a:hover {
  color: #557373; /* Gray Blue */
}


.log-in {
  background-color: #1E3A5F; /* Dark Blue */
  color: #FFFFFF; /* White */
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.log-in:hover {
  background-color: #008080; /* Teal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.footer {
  background-color: #D0E1F9; /* Teal */
  color: #273B5A; /* White */
  padding: 20px;
  font-weight: bold;

}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.footer-logo img {
  height: 100px;
}

.footer-links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-size: 25px;
  
}

.footer-links a {
  color: #273B5A; /* White */
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #008080; /* Light Blue */
}

.footer-social {
  display: flex;
  gap: 15px;
}

.social-icon {
  background-color: #1E3A5F; /* Dark Blue */
  color: #FFFFFF; /* White */
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.social-icon:hover {
  background-color: #008080; /* Teal */
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 20px;
}

.moving-text-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 10px 0;
}

.moving-text {
  display: inline-block;
  font-size: 20px;
  color: #FFFFFF; /* White */
  padding-left: 100%;
  animation: moveText 20s linear infinite;
}

@keyframes moveText {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

